.btn {
  display: inline-block;
  vertical-align: top;
  padding: 1.1em 2.1em;
  border-radius: 2.5em;

  background: $secondary;
  border: none;
  cursor: pointer;

  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.1;
  color: $white;
  text-decoration: none;

  transition: .1s linear;

  &_red {
    background: $red;
    box-shadow: 0 7px 17px -10px rgba($red, 0.25);
    &:hover {
      background: darken($red, 10%);
    }
  }

  &_blue {
    background: $blue;
    box-shadow: 0 7px 17px -10px rgba($red, 0.25);
    &:hover {
      background: darken($blue, 5%);
    }
  }
}